
html, body {
    width: 100%;
    height: 100%;
}
  

body {
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.4)
      ), url("../../images/bg.jpg");
    background-repeat: no-repeat;
    background-position: center;
}

.header {
    color: white;
    padding-top: 15%;
    padding-left: 100px;
}

.links {
    color: white;
    padding-top: 150px;
    padding-left: 100px;
}

.footer {
    color: white;
    padding-left: 100px;
}

.links ul {
    list-style-type: none;
    padding-left:0;
}

.links li {
    display: inline;
}